<% layout('layouts/boilerplate')%>
<h1 class="text-center font_meie_script p-3">About</h1>
<style>
  h1 {
    color: rgb(233, 205, 167);
    font-size: 3.2rem;
  }
  p {
    color: rgb(216, 186, 153);
    font-size: 1.7rem;
  }
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.301), rgba(0, 0, 0, 0.301)),
      url("../food_recipe_md.jpg");
    backdrop-filter: blur(15px);
    opacity: 0.9;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
  }
  @import url("https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light");
  .font_meie_script {
    font-family: "Meie Script", cursive;
  }
  .font_shadows_into_light {
    font-family: "Shadows Into Light", cursive;
  }
</style>
<p class="text-center font_shadows_into_light">
  This is a simple website that offers a variety of culinary recipes from many different categories
  to create your next meal. The website provides details about the necessary ingredients,
  step-by-step instructions, and a video overview of the meal preparation process. I hope you found
  the website to be helpful.
</p>
