<% layout('layouts/boilerplate')%>
<h1 class="text-center font_meie_script p-3">FoodAv</h1>
<style>
  h1 {
    color: rgb(233, 205, 167);
    font-size: 3.2rem;
  }
  p {
    color: rgb(230, 179, 122);
    font-size: 2.2rem;
  }
  body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.123), rgba(0, 0, 0, 0.13)),
      url("../food_recipe_md.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
  }
  @import url("https://fonts.googleapis.com/css?family=Meie+Script|Shadows+Into+Light");
  .font_meie_script {
    font-family: "Meie Script", cursive;
  }
  .font_shadows_into_light {
    font-family: "Shadows Into Light", cursive;
  }
</style>
<p class="text-center font_shadows_into_light">A simple food info and recipe website</p>
